* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
}

body {
  background-color: rgba(15, 15, 15, 0.055);
}

.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  padding-top: 50px;
  margin-bottom: 20px;
}

.ramka {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border-radius: 50%;
  margin-bottom: 150px;
}

.ramka h1 {
  padding-top: 110px;
  font-size: 27px;
}

.ramka p {
  padding-top: 50px;
  font-size: 1.31rem;
}

.nkar {
  width: 23.75rem;
  height: 23.125rem;
  border-radius: 50%;
}

.nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  position: relative;
  margin: 50px 5px;
}

.nav li {
  list-style-type: none;
  padding: 28px 5px;
  margin-bottom: 5px;
  background-color: gray;
}

.nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  font-size: 1.37rem;
}

.nav h2 {
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: 2.25rem;
  color: #0e5a7e;
  text-align: center;
  border-bottom: 1px solid black;
}

.nav h3 {
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 1.56rem;
  text-align: center;
}

.nav p {
  padding: 10px 10px 10px 50px;
  font-size: 1.31rem;
}

@media (min-width: 620px) {
  .nav ul {
    background: gray;
    text-align: center;
    padding: 5px 5px;
  }
  .nav li {
    padding: 0px 10px 0px 10px;
    display: inline;
  }
  .nav li:hover {
    background-color: red;
  }
}

.lebenslauf h3 {
  text-align: left;
  padding: 10px 10px 10px 50px;
}

.qashel {
  padding: 0px 0px 10px 80px;
  border-bottom: 2px solid black;
}

.qashel h1 {
  text-align: center;
  font-size: 2.25rem;
  margin-top: 50px;
  color: #0e5a7e;
}

.qashel a {
  text-decoration: none;
  font-size: 1.25rem;
  color: #223a68;
}

.portnkar {
  margin-top: 80px;
}

.portnkar .nkar2 {
  width: 100%;
}

.skills {
  margin: 150px 0px 70px 0px;
  border-bottom: 2px solid black;
}

.skills h1 {
  padding-top: 30px;
  font-size: 2.25rem;
  text-align: center;
  color: #223a68;
}

.MeinKontaktdaten {
  padding-top: 80px;
  border-bottom: 2px solid black;
}

.MeinKontaktdaten h1 {
  padding-top: 30px;
  text-align: center;
  font-size: 2.25rem;
  color: #223a68;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  padding-top: 160px;
}

.container div a {
  margin-left: 10px;
}

.container a i {
  padding: 10px 0px 10px 5px;
  position: relative;
  color: #4758f1;
  font-size: 2.25rem;
}

.container .fa-instagram:hover {
  background-color: #e42706;
}

.container span {
  font-size: 1.31rem;
  padding-left: 20px;
  padding-bottom: 5px;
}

.tokos {
  margin-top: 20px;
}

.tokos h1 {
  padding-left: 10px;
}

.drsi {
  width: 90%;
  height: 20px;
  margin: 10px 0px 10px 5px;
  background-color: #c2c2c2;
}

.nersi {
  width: 65%;
  height: 20px;
  background-color: #0b0b86;
}

.tokos1 {
  margin-top: 70px;
}

.tokos1 h1 {
  padding-left: 10px;
}

.drsi1 {
  width: 90%;
  height: 20px;
  margin: 10px 0px 10px 5px;
  background-color: #c2c2c2;
}

.nersi1 {
  width: 5%;
  height: 20px;
  background-color: #0b0b86;
}
/*# sourceMappingURL=style.css.map */